@import 'ngx-toastr/toastr';

body {
    margin: 0 auto;
    background-color: white;
}

.form-err-msg {
    color: red;
    text-align: center;
}



  
  
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
