<div class ="main-container">
    <div class="container">
        <h2>Orders <span *ngIf="orders.length > 0"> - {{orders.length}}</span></h2>
        <div
          cdkDropList
          #orderList="cdkDropList"
          [cdkDropListData]="orders"
          [cdkDropListConnectedTo]="[progressList]"
          class="list"
          (cdkDropListDropped)="drop($event)">
          <div class="box" *ngFor="let item of orders" cdkDrag>
            {{item.user.firstName}}<br>
            Room: {{item.user.room}}<br>
             <p  *ngFor="let food of item.foods">
              {{food.selectedFlavor | uppercase}} {{food.name}} Qty: {{food.qty}} <br>
               Note: {{ food.note }}
             </p>
        </div>
        </div>
    </div>
    
    
    <div class="container">
        <h2>In progress<span *ngIf="inProgress.length > 0"> - {{inProgress.length}}</span></h2>
      
        <div
          cdkDropList
          #progressList="cdkDropList"
          [cdkDropListData]="inProgress"
          [cdkDropListConnectedTo]="[readyList]"
          class="list"
          (cdkDropListDropped)="drop($event)">
          <div class="box" *ngFor="let item of inProgress" cdkDrag>
            {{item.user.firstName}}<br>
            Room: {{item.user.room}}<br>
             <p  *ngFor="let food of item.foods">
              {{food.selectedFlavor | uppercase}} {{food.name}} Qty: {{food.qty}} <br>
               Note: {{ food.note }}
             </p>
          </div>
        </div>
    </div>
      
      <div class="container">
        <h2>Ready <span *ngIf="ready.length > 0"> - {{ready.length}}</span></h2>
        <div
          cdkDropList
          #readyList="cdkDropList"
          [cdkDropListData]="ready"
          [cdkDropListConnectedTo]="[progressList]"
            class="list"
          (cdkDropListDropped)="drop($event)">
          <div class="box" *ngFor="let item of ready" cdkDrag>
            {{item.user.firstName}}<br>
            Room: {{item.user.room}}<br>
             <p  *ngFor="let food of item.foods">
              {{food.selectedFlavor | uppercase}} {{food.name}} Qty: {{food.qty}} <br>
               Note: {{ food.note }}
             </p>
          </div>
        </div>
      </div>
</div>


  
  