
.food-page-card-title {
   // font-family: "Pacifico", cursive;
    font-family: sans-serif;
    text-align: center;
}
  
  .food-page-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
  }
 
  
  .food-page-card img {
    object-fit: contain;
    max-height: 240px;
  }

  .select-card {
    text-align: center;
    margin: 1rem;
  }
 
  label {
    font-weight:bold;
    margin: 1rem;
  }
  
  
  .chip {
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    padding: 10px 25px;
    margin: 0.2rem;
    letter-spacing: 1px;
  }
  
  .chip-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

span {cursor:pointer; }

.minus, .plus{
  width: 1rem;
  height:1rem;
  background:#E0E0E0;
  border-radius:4px;
  padding:8px 5px 8px 5px;
  border:1px solid #E0E0E0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.minus:hover, .plus:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

input{
  height:2rem;
  width: 6rem;
  text-align: center;
  font-size: 1rem;
  border:1px solid #ddd;
  border-radius:4px;
  display: inline-block;
  vertical-align: middle;
}
.qty {
  width: 5rem;
  margin: 1rem;
  font-weight: lighter;
}
  

 button {
    background-color: lightblue;
    transition: 0.3s; 
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 10px 25px;
    margin: 0.2rem;
    letter-spacing: 1px;
    color:  rgba(0, 0, 0, 0.6);
    cursor: pointer;
 }


 button:hover {
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
  
 .action {
    display: inline;
    text-align: center;
 }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 13px;
  resize: none;
  padding: 1rem;
}

 textarea::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #a55b41;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
  @media (min-width: 900px) {
  
    .chip:hover:not(.active) {
      cursor: pointer;
      color: white;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s; 
  }
  
  }