.topsec {
  height: 1rem;
  margin-bottom: 3rem;
  margin-right: 2rem;
}
.topsec h5 {
  color: #a55b41;
  float: right;
}

#refresh {
  background-color: #a55b41; 
  border: 1px #a55b41;
  border-radius: 2px;
  color: white; 
  padding: 12px 20px; 
  font-size: 16px; 
  float: right;
}

#refresh:hover:not(.active) {
  background-color: white; 
  border: 1px solid #a55b41;
  color: #a55b41; 
  box-shadow:  8px 10px 1px rgba(0, 0, 0, 0.14),
}

.fa-icon {
  margin-left: -12px;
  margin-right: 8px;
}

  .main-container {
      text-align: center;
  }

.container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;

  }
  .container h2 {
    color: #A55B41;
  }
  
  .list {
    border: solid 1px #a55b41;
    min-height: 60px;
    background-color: #e9edf0;
    padding: 1rem;
    border-radius: 4px;
    overflow: auto;
    max-height: 100vh;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .box:last-child {
    border: none;
  }
  
  .list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  

    //Mat Card
    .example-card {
      max-width: 400px;
      margin-bottom: 8px;
      text-align: left;
    }
    .example-list-wrapping {
      max-width: 500px;
    }
    .card-header{
      padding: 10px;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.1),
    }
    .btn {
      background-color: #A55B41;
      border: 0;
      border-radius: 50px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
      color: #fff;
      font-size: 16px;
      padding: 5px 10px;
      letter-spacing: 1px;
    }
    .remove {
      position: absolute;
      bottom: 10px;
      right: 5px;
    }