  ul {
    list-style-type: none;
    margin: 0 2rem;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #A55B41;
  }
 
  
  
  li h2:hover:not(.active) {
    color: black;
  }


  li h4:hover:not(.active) {
    color: black;
    background: white;
  }

 .kitchen {
  border-radius: 50%;
  padding: 5px 10px;
  color: white;
  font-size: 0.9rem;
 // margin-top: 0.2rem; 
  font-weight: normal;
  background-color: #A55B41;
 }
