  ul {
    list-style-type: none;
    margin: 0 2rem;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #A55B41;
  }
 
  
  
  li h2:hover:not(.active) {
    color: black;
  }


  li h4:hover:not(.active) {
    color: black;
  }

  //Sidebar part

