.container {
  overflow: auto;
  max-height: 100vh;
}

.center, h3 {
    margin: 4rem;
    text-align: center;

}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 1rem;
  }
  
  button {
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    padding: 12px 25px;
    letter-spacing: 1px;
  }

  button:hover {
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }
  
  .action-area {
    background-color: #e0e0e0;
    width: 23rem;
    height: 3vh;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
  }
.add-btn {
  background-color: #0D6CE3;
  margin-right: 0.5rem;
}
  
  .empty-btn {
    background-color: red;
    color: white;
  }
  .order-btn {
    background-color: #76A34F;
    color: white;
    margin-right: 0.5rem;
  }
  
  //card 
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 0.5rem;
    overflow: hidden;
    width: 95%;
  }
  
  .card h5 {
    opacity: 0.6;
    margin: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .card h2 {
    letter-spacing: 1px;
  }
  
  .card-info {
    padding: 30px;
    position: relative;
    width: 100%;
  }
  
  .right-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
  }
  
  .qtyHolder {
    width: 3rem;
  }
  .noteHolder {
    height: 2rem;
  }
  
  .btn {
    background-color: #A55B41;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 16px;
    padding: 12px 25px;
    letter-spacing: 1px;
  }
  .remove {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }


input {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
  
  
  @media screen and (max-width: 480px) {
  
    
  }