<div class="container">
<ng-container *ngIf="listItems.length !=0">
    <!-- 
          <div class="center">
<div class="cart-table">
        <table>
          <thead>
              <tr>
                  <th>Sr.No</th>
                  <th>Food Name</th>
                  <th>Flavor</th>
                  <th>Quantity</th>
                  <th>Note</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of listItems; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{item.name}}</td>
                  <td style="width: 25%;">{{item.selectedFlavor}}</td>
                  <td style="width: 12%;">{{item.qty}}</td>
                  <td style="width: 12%;">{{item.note}}</td>
                  <td>
                      <fa-icon (click)="removeItem(item)" [icon]="trash"></fa-icon>
                  </td>
              </tr>
              <tr>
                  <td class = "btns"colspan="4"></td>
                  <td><button (click)="emptyList()" class="empty-btn">EMPTY LIST</button></td>
                  <td><button routerLink="/" class="add-btn">ADD MORE</button></td>
                  <td><button routerLink="/order" class="order-btn">PROCEED TO ORDER</button></td>
              </tr>
          </tbody>
      </table>  
    </div> 
  </div>
-->

    <!-- <div class="card" *ngFor="let item of listItems; let i = index">
        <span>{{item.selectedFlavor | uppercase}}</span>
        <span>{{item.name}}</span> 
        <span><fa-icon (click)="removeItem(item)" [icon]="trash"></fa-icon></span>
    </div> -->

    <div class="card-container" *ngFor="let item of listItems; let i = index">
        <div class="card">
            <div class="card-info">
                <div class="right-container" style="color: #A55B41;">
                   Qty: <input type="number" class="qtyHolder" [(ngModel)]="item.qty"  min="1" >
                </div>
                <h2>{{item.name}}</h2>
                <h5>Flavor: {{item.selectedFlavor | uppercase}}</h5>
                <h5><input class="noteHolder" [(ngModel)]="item.note" placeholder="Notes..."></h5>
                <button class="btn remove"><fa-icon (click)="removeItem(item)" [icon]="trash"></fa-icon>
                </button>
            </div>
        </div>
    </div> 
    <div class="action-area">
        <div class="action-area-procceed">
            <button routerLink="/order" class="order-btn">ORDER --> </button>
            <button routerLink="/" class="add-btn">+ MORE</button>
            <button (click)="emptyList()" class="empty-btn"><fa-icon [icon]="trash"></fa-icon> LIST</button>

        </div>
    </div>
</ng-container>

<ng-container *ngIf="listItems.length ==0">
      <div class="center">
          <h4>Your list is empty!</h4>
          <h6>Add food to it now</h6>
          <button routerLink="/" class="btn btn-primary">Order Your Food</button>
      </div>
</ng-container>
</div>
  
 

